body{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.top{
  background: url(../images/h_img.jpg) no-repeat;
  background-size: 100%;
  height:800px;
  color: white;
  padding-top: 250px;
}
.services{
  background-image: url(../images/s_image.jpg);
  color: white;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.contacts{
  background: url(../images/c_image.jpg) no-repeat;
  background-size: contain;
  background-position: relative;
  color: white;
  height: 680px;
}
.hide{
  display: none;
}
.project {
  color: black;
  position: absolute;
  top: 10%;
  left: 8%;
  opacity: 0;
  width: 80%;
  border: 5px solid black;
  padding: 4px;
  margin: 5px;
  height: 80%;
  font-weight: bold;
}
.port{
  padding-top: 10px;
  padding-bottom: 10px;
}
#message{
    background: none;
    color: white;
}
input[type=text]{
  background: none;
  color: white;
  justify-content: flex-end;
  width: 100%;
  border-color: white;
}
.project{
  padding-top: 10px;
  padding-bottom: 10px;
}
.social{
  padding: 100px;
}